resources/
build/
lib/
.vs/
out/
_deps/
bin/logs/
assets/
students/

x64/
Debug/

*Config.h

*.meta

*.bmp
*.png
*.jpg
*.gif
*.dds

*.mp4
*.pdf

*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb

assets/materials/
assets/models/
assets/textures/

imgui*.ini
